<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MediOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="openoffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MediOffice.Properties.Settings>
      <setting name="TimeOut" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeOutFile" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Porta" serializeAs="String">
        <value>1050</value>
      </setting>
      <setting name="PortaFile" serializeAs="String">
        <value>1050</value>
      </setting>
      <setting name="Pasta" serializeAs="String">
        <value>\\medidataerp\geradocstemp$</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>medidataerp</value>
      </setting>
      <setting name="ServidorFile" serializeAs="String">
        <value>medidataerp</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>C:\medidata\GERADOCS_Cliente</value>
      </setting>
    </MediOffice.Properties.Settings>
  
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
